---
import CanvasContainer from '../components/CanvasContainer.astro'
import Layout from '../components/Layout-1960.astro'
import About from '../components/Modal.astro'
---

<Layout title="Typologies of Delusion">
  <main>
    <CanvasContainer />
    <About />
    <div class="buttons-container">
      <ul>
        <li><a href="../1940">40s</a></li>
        <li><a href="../1950">50s</a></li>
        <li class="active"><a href="#" class="active-text">60s</i></a></li>
        <li><a href="../1970">70s</a></li>
        <li><a href="../1980">80s</a></li>
      </ul>
      <ul>
        <li><a href="#" id="zoom"><img src="zoom.svg"></a></li>
        <li><a href="#" id="mod"><img src="info.svg"></a></li>
      </ul>
    </div>
  
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100%;
  }
  .link {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }

  .link-nav {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
  }
</style>

<script>
 const ul = document.getElementById("decades");
  const lis = ul.querySelectorAll("li");
  const a = ul.querySelectorAll("li a");
  
  for (let i = 0; i < lis.length; i++) {
    lis[i].addEventListener("click", function() {
      for (let i = 0; i < lis.length; i++) {
        lis[i].classList.remove("active");
        a[i].classList.remove("active-text");
      }
      this.classList.add("active");
      a[i].classList.add("active-text");
    });
  }
  </script>