---

---

<div class="modal" id="myModal">
  <div class="modal-content">
    <img src="logo.svg" width="100%" height="auto" style="margin-bottom:30px">
    <a target="_blank" href="/1940"> <h1>Typologies 01: Faces</h1></a>
    <a target="_blank" href="/t2"> <h1>Typologies 02: Film Stills</h1></a> 
    </div>

</div>

<style>

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #eeeeee;
}

a {
    font-family: monospace;
    color: blue;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 2;
}

.modal-content p {
  font-size: 16px;
  
}
</style>