---

---

  <div class="modal" id="myModal">
    <div class="modal-content">
      <img src="logo.svg" width="100%" height="auto" style="margin-bottom:30px">
      <p><b>Typologies 02: Film Stills</b>
           <br><br>
        These images have been generated with the assistance of Stable Diffusion XL and five different custom-trained models programmed with images from the Newsreel "Polygoon Journaal" from between 1940 and 1980.
        <br><br>
        In "Typologies of Delusion 02: Film Stills" the prompts have been generated based on a list of iconic film scenarios placed in specific decades. With the help of the GPT-3 model, these prompts have been optimized for creating cinematic moments inspired by the Polygoon collection.  
      </div>
     
  </div>

<style>

  .modal {
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 70%);
    z-index: 1;
    text-align: center;
    transition: opacity 0.2s ease-in-out; 
    pointer-events: none;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 2;
  }

  .modal-content p {
    font-size: 16px;
    
  }
</style>

<script>
const modal = document.getElementById('myModal');
let touchActive = false;

function showModal() {
    if (modal && !touchActive) {
        modal.style.opacity = '1';
        modal.style.pointerEvents = 'auto';
        modal.addEventListener('click', hideModal); // Add click event listener to hide modal on click
    }
}

function hideModal() {
    if (modal) {
        modal.style.opacity = '0';
        modal.style.pointerEvents = 'none';
        modal.removeEventListener('click', hideModal); // Remove click event listener when hiding modal
    }
}

function handleInteraction() {
    hideModal();
}

function handleTouchStart() {
    touchActive = true;
    hideModal();
}

function handleTouchEnd() {
    touchActive = false;
}

function cleanupEventListeners() {
    window.removeEventListener('touchstart', handleTouchStart);
    window.removeEventListener('touchend', handleTouchEnd);
}

function setupEventListeners() {
    window.addEventListener('touchstart', handleTouchStart, { passive: true });
    window.addEventListener('touchend', handleTouchEnd, { passive: true });
}

const modButton = document.getElementById('mod');

modButton.addEventListener('click', showModal);

setupEventListeners();

window.addEventListener('beforeunload', () => {
    cleanupEventListeners();
    clearTimeout(idleTimeout);
});

</script>
