---

---

  <div class="modal" id="myModal">
    <div class="modal-content">
      <img src="logo.svg" width="100%" height="auto" style="margin-bottom:30px">
      <p><b>Typologies 02: Film Stills</b>
        <br><br>
        Can generative AI inspire artists to tell new stories?
        <br><br>
        Same as in "Typologies 01: Faces", these images have been generated with the assistance of Stable Diffusion XL and five different custom-trained models programmed with images from the Newsreel "Polygoon Journaal" from between 1940 and 1980.
        <br><br>
        In "Typologies of Delusion 02: Film Stills" the prompts have been generated based on a list of iconic film scenarios placed in specific decades. With the help of the GPT-3 model, these prompts have been optimized for creating cinematic moments inspired by the Polygoon collection.  
      </div>
     
  </div>

<style>

  .modal {
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 70%);
    z-index: 1;
    text-align: center;
    transition: opacity 0.2s ease-in-out; 
    pointer-events: none;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 2;
  }

  .modal-content p {
    font-size: 16px;
    
  }
</style>

<script>
 const modal = document.getElementById('myModal');
let idleTimeout: ReturnType<typeof setTimeout>;
let touchActive = false; // Flag to track touch interactions

function showModal() {
    if (modal && !touchActive) { // Check if touch interactions are not active
        modal.style.opacity = '1';
        modal.style.pointerEvents = 'auto'; // Make the modal clickable
    }
}

function hideModal() {
    if (modal) {
        modal.style.opacity = '0';
        modal.style.pointerEvents = 'none';
        // resetIdleTimer();
    }
}

// function resetIdleTimer() {
//     clearTimeout(idleTimeout);
//     idleTimeout = setTimeout(showModal, 20000);
// }

function handleInteraction() {
    hideModal();
}

function handleTouchStart() {
    touchActive = true; // Set the touch flag when a touch interaction occurs
    hideModal();
}

function handleTouchEnd() {
    touchActive = false; // Reset the touch flag when touch interaction ends
    // resetIdleTimer();
}

window.addEventListener('mousemove', handleInteraction);
window.addEventListener('keydown', handleInteraction);
window.addEventListener('touchstart', handleTouchStart, { passive: true });
window.addEventListener('touchend', handleTouchEnd, { passive: true });

window.addEventListener('beforeunload', () => {
    window.removeEventListener('mousemove', handleInteraction);
    window.removeEventListener('keydown', handleInteraction);
    window.removeEventListener('touchstart', handleTouchStart);
    window.removeEventListener('touchend', handleTouchEnd);
    clearTimeout(idleTimeout);
});

const modButton = document.getElementById('mod');
  
modButton.addEventListener('click', () => {
           showModal();
       });
 

// resetIdleTimer();
</script>
